<% provide(:title, 'About') %>
<h1>关于我</h1>
<p>
  史中营，80后码农.2007年毕业，先后就职于LK,Touco,Intertid。<br />

  先后从事互联网和企业应用开发。<br />

  技术领域：Java、Ruby、Linux/Unix、Application Platform <br />

  微信平台：「方人也记@Zombie」（Zombie_Shi84） <br />
  
  易信平台：「始终赢也@Zombie」 <br />
  
  微博: http://weibo.com/szyzombie <br />

</p>